
header {
    height: 100px;
    width: 100%;
    background-color: #d2d2d2;
    
}

.blueSquare {
    height: 80px;
    width: 80px;
    background-color: blue;
    display: inline-block;
    margin: 15px;
}

section {
    height: 200px;
    width:100%;
}

.text {
    margin-top: 110px;
}

.blueRow {
    height: 120px;
    width: 100%;
    background-color: blue;
}

.lightGreen {
    height: 120px;
    width: 100%;
    background-color: cyan;
}

.moneyGreen {
    height: 120px;
    width: 100%;
    background-color: lightgreen;
}

.yellow {
    height: 120px;
    width: 100%;
    background-color: yellow;
}